<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <body>
        <%- include("../partials/header.ejs") %>
        <main class="admin__main">
            <section class="titulo__admin">
                <p id="crear_paquete" class="underline" onclick="displayAdmin()">Crear paquetes</p>
                <p id="lista_paquete" onclick="displayAdmin()">Lista de paquetes</p>
            </section>
            <!-- FORMULARIO PARA CREAR -->
            <section id="crear__paquetes__admin">
                <form method="POST" action="/admin" class="form__search-admin" enctype="multipart/form-data">
                    <label for="" class="input__txt__places section__login--label">Nombre paquete</label>
                    <input  type="text" name="destination" placeholder="Ingrese el nombre del paquete"
                            class ="form-control <%= locals.errors && errors.destination? 'is-invalid': null %>" 
                            value = "<%= locals.oldData? oldData.destination: null %>" >
                    <% if(locals.errors && errors.destination){%>
                        <div class="text-danger">
                            <%=errors.destination.msg %>
                        </div>
                    <% }%>

                    <label for="" class="input__txt__places section__login--label">Provincia de salida</label>
                    <input type="text" name="city_depart" placeholder="Ingrese provincia de salida"
                            class ="form-control <%= locals.errors && errors.city_depart? 'is-invalid': null %>" 
                            value = "<%= locals.oldData? oldData.city_depart: null %>" >
                    <% if(locals.errors && errors.city_depart){%>
                        <div class="text-danger">
                            <%=errors.city_depart.msg %>
                        </div>
                    <% }%>

                    <label for="" class="input__txt__places section__login--label">Precio</label>
                    <input type="number" name="price" placeholder="Ingrese precio del paquete"
                            class ="form-control <%= locals.errors && errors.price? 'is-invalid': null %>" 
                            value = "<%= locals.oldData? oldData.price: null %>" >
                    <% if(locals.errors && errors.price){%>
                        <div class="text-danger">
                            <%=errors.price.msg %>
                        </div>
                    <% }%>

                    <label for="" class="input__txt__places section__login--label">Cantidad de personas</label>
                    <input type="number" name="group_size" placeholder="Ingrese la cantidad base de personas"
                            class ="form-control <%= locals.errors && errors.group_size? 'is-invalid': null %>" 
                            value = "<%= locals.oldData? oldData.group_size: null %>" >
                    <% if(locals.errors && errors.group_size){%>
                        <div class="text-danger">
                            <%=errors.group_size.msg %>
                        </div>
                    <% }%>

                    <label for="" class="input__txt__places section__login--label">Fecha de inicio</label>
                    <input type="date" name="start_date" placeholder="Ingrese fecha de inicio del paquete"
                            class ="form-control <%= locals.errors && errors.start_date? 'is-invalid': null %>" 
                            value = "<%= locals.oldData? oldData.start_date: null %>" >
                    <% if(locals.errors && errors.start_date){%>
                        <div class="text-danger">
                            <%=errors.start_date.msg %>
                        </div>
                    <% }%>

                    <label for="" class="input__txt__places section__login--label">Fecha de finalizacion</label>
                    <input type="date" name="finish_date" placeholder="Ingrese fecha de finalizacion del paquete"
                            class ="form-control <%= locals.errors && errors.finish_date? 'is-invalid': null %>" 
                            value = "<%= locals.oldData? oldData.finish_date: null %>" >
                    <% if(locals.errors && errors.finish_date){%>
                        <div class="text-danger">
                            <%=errors.finish_date.msg %>
                        </div>
                    <% }%>

                    <label for="" class="input__txt__places section__login--label">Imagenes</label>
                    <input type="file" multiple name="imagen_producto" placeholder="Ingrese la URL de la imagen 1"
                            class ="form-control ">


                    <label for="" class="input__txt__places section__login--label">Incluye</label>

                    <div id="incluye-options">
                        <div class="incluye-option">
                            <input type="checkbox" name="incluye[]" value="Asistencia al Viajero">
                            <label>Asistencia al Viajero</label>
                            
                        </div>
                        <div class="incluye-option">
                            <input type="checkbox" name="incluye[]" value="Hoteles 5 estrellas">
                            <label>Hoteles 5 estrellas</label>
                        </div>
                        <div class="incluye-option">
                            <input type="checkbox" name="incluye[]" value="Coordinador y guias locales">
                            <label>Coordinador y guias locales</label>
                        </div>
                        <div class="incluye-option">
                            <input type="checkbox" name="incluye[]" value="Régimen de comidas todo incluido">
                            <label>Régimen de comidas todo incluido</label>
                        </div>
                        <div class="incluye-option">
                            <input type="checkbox" name="incluye[]" value="Excursiones según programa">
                            <label>Excursiones según programa</label>
                        </div>
                        <div class="incluye-option">
                            <input type="checkbox" name="incluye[]" value="Traslados de ingreso y egreso">
                            <label>Traslados de ingreso y egreso</label>
                        </div>
                    </div>
                    <button type="submit">Crear paquete</button>
                </form>
            </section>
            
            <!-- TABLA PAQUETES -->
            <section id="lista__paquetes__admin" class="admin__hidden">
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Nombre</th>
                            <th class="table__hidden">Cantidad de Personas</th>
                            <th>Precio</th>
                            <th class="table__hidden">Fecha de Inicio</th>
                            <th class="table__hidden">Fecha de Finalización</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product => { %>
                        <tr>
                            <td><%= product.id %></td>
                            <td><%= product.destination %></td>
                            <td class="table__hidden"><%= product.group_size %></td>
                            <td>$<%= product.price %></td>
                            <td class="table__hidden"><%= product.start_date %></td>
                            <td class="table__hidden"><%= product.finish_date %></td>
                            <!-- <td class="table__hidden"><img src="imagen1.jpg" alt="Imagen del paquete 1" width="50"></td> -->
                            <td>
                                <a href="/admin/edit/<%= product.id %>">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>
                            <td>
                                <form method="POST" action="/admin/delete/<%= product.id %>">
                                    <button type="submit">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
    <script src="js/general.js"></script>
    
    
</html>