<!DOCTYPE html>
<html lang="es">

<!-- HEADE -->
<%- include("../partials/head") %>

    <body>
        <!-- HEADER -->
        <%- include("../partials/header.ejs") %>
            <main class="main__login">

                <section class="section__login">
                    <h2>Bienvenido a nuestra agencia de viajes Valle Dorado</h2>

                    <form action="/users/login" method="POST" class="form__search">
                        <label for="" class="input__txt__places section__login--label">Usuario</label>
                        <input type="text" name="username" placeholder="Ingrese su usuario"
                            class="form-control <%= locals.errors && errors.username? 'is-invalid': null %>"
                            value="<%= locals.oldData? oldData.username: null %>">
                        <% if(locals.errors && errors.username){%>
                            <div class="text-danger">
                                <%=errors.username.msg %>
                            </div>
                            <% }%>

                            <label for="" class="input__txt__places section__login--label">Contraseña</label>
                            <input type="password" name="password" placeholder="Ingrese su cotraseña"
                                class="form-control <%= locals.errors && errors.password? 'is-invalid': null %>"
                                value="<%= locals.oldData? oldData.password: null %>">
                            <% if(locals.errors && errors.password){%>
                                <div class="text-danger">
                                    <%=locals.errors.password.msg %>
                                </div>
                                <% }%>

                                <label for="" class="input__txt__places section__login--label">Recordar</label>
                                <input type="checkbox" name="recordar" placeholder="">

                            <button type="submit">Iniciar sesion</button>
                    </form>
                </section>
            </main>
            <!-- FOOTER -->
            <%- include("../partials/footer.ejs") %>
                <script>

                </script>
    </body>
    <script src="js/general.js"></script>

</html>