<!DOCTYPE html>
<html lang="es">

<!-- HEADE -->
<%- include("../partials/head") %>

    <body>
        <!-- HEADER -->
        <%- include("../partials/header.ejs") %>
            <main class="main__login">

                <section class="section__login">
                    <h2>Bienvenido a nuestra agencia de viajes Valle Dorado</h2>

                    <form action="/users/login" method="POST" class="form__search">
                        <label for="" class="input__txt__places section__login--label">Email</label>
                        <input type="text" name="username" id="username" placeholder="Ingrese su usuario"
                            class="form-control <%= locals.errors && errors.username? 'is-invalid': null %>"
                            value="<%= locals.oldData? oldData.username: null %>" autofocus>
                            <p class="text-danger">
                                <% if(locals.errors && errors.username){%>
                                <%=errors.username.msg %>
                                <% }%>
                            </p>

                            <label for="" class="input__txt__places section__login--label">Contraseña</label>
                            <input type="password" name="password" id="password" placeholder="Ingrese su cotraseña"
                                class="form-control <%= locals.errors && errors.password? 'is-invalid': null %>"
                                value="<%= locals.oldData? oldData.password: null %>">
                                <p class="text-danger">
                                    <% if(locals.errors && errors.password){%>
                                    <%=locals.errors.password.msg %>
                                    <% }%>
                                </p>

                                <label for="" class="input__txt__places section__login--label">Recordar</label>
                                <input type="checkbox" name="recordar" placeholder="">

                            <button type="submit">Iniciar sesion</button>
                    </form>

                    
                    <!-- <div class="noRegistrado">
                        <p class="mensaje">¿No tiene cuenta?</p>
                        <a class="mensaje" href="/views/users/register.ejs">Crear Cuenta</a>
                        <a class="mensaje" href="">¿Olvidó su contraseña?</a>
                    </div> -->
                </section>
            </main>
            <!-- FOOTER -->
            <%- include("../partials/footer.ejs") %>
                <script>

                </script>
    </body>
    <script src="/js/general.js" defer></script>
    <script src="/js/validation_front_login" defer></script>

</html>