<!DOCTYPE html>
<html lang="es">

<!-- HEADE -->
<head>
    <%- include("../partials/head") %>
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/login.css">
    <title>Valle Dorado - Login de Usuario</title>
  
  </head>



    <body>
        
        <!-- HEADER -->
        <%- include("../partials/header.ejs") %>
            <main class="main__login">

                <section class="section__login">
                    <h2>Bienvenido a nuestra agencia de viajes Valle Dorado</h2>

                    <form action="/users/login" method="POST" id="formLogin" class="form__search">
                        <label for="username" class="input__txt__places section__login--label">Nombre de Usuario</label>
                        <input type="text" name="username" id="username" placeholder="Ingrese su usuario"
                            class="form-control <%= locals.errors && errors.username? 'is-invalid': null %>"
                            value="<%= locals.oldData? oldData.username: null %>">
                            <p class= "msjerrorLogin">
                                <% if(locals.errors && errors.username){%>
                                <%=errors.username.msg %>
                                <% }%>
                            </p>

                            <label for="password" class="input__txt__places section__login--label">Contraseña</label>
                            <input type="password" name="password" id="password" placeholder="Ingrese su contraseña"
                                class="form-control <%= locals.errors && errors.password? 'is-invalid': null %>"
                                value="<%= locals.oldData? oldData.password: null %>">
                                <p class="msjerrorLogin">
                                    <% if(locals.errors && errors.password){%>
                                    <%=locals.errors.password.msg %>
                                    <% }%>
                                </p>

                                <label for="recordar" class="input__txt__places section__login--label">Recordar</label>
                                <input type="checkbox" name="recordar" id="recordar" placeholder="">

                            <button type="submit" id="submit">Iniciar sesion</button>
                            <p class="msjerrorLogin"></p>
                    </form>

                    
                    <!-- <div class="noRegistrado">
                        <p class="mensaje">¿No tiene cuenta?</p>
                        <a class="mensaje" href="/views/users/register.ejs">Crear Cuenta</a>
                        <a class="mensaje" href="">¿Olvidó su contraseña?</a>
                    </div> -->
                </section>
            </main>
            <!-- FOOTER -->
            <%- include("../partials/footer.ejs") %>
                <script>

                </script>
    </body>
    <script src="/js/general.js" defer></script>
    <script src="/js/validation_login.js" defer></script>

</html>