<!DOCTYPE html>
<html lang="es">
<!-- HEADE -->
<%- include("../partials/head") %>
    <body>
        <!-- HEADER -->
        <%- include("../partials/header.ejs") %>
        <main class="main__login">
            <section class="section__login">
                <h2>Bienvenido a nuestra agencia de viajes Valle Dorado</h2>
                
                <form action="/users/register" method="post" enctype="multipart/form-data" class="register_form ">

                    <label for="" class="input__txt__places section__login--label">Nombre</label>
                    <input type="text" name="name" placeholder="nombre" 
                    class ="form-control <%= locals.errors && errors.name? 'is-invalid': null %>" value = "<%= locals.oldData? oldData.name: null %>" >
                    <% if(locals.errors && errors.name){%>
                        <div class="text-danger">
                            <%=errors.name.msg %>
                        </div>
                    <% }%>

                    <label for="" class="input__txt__places section__login--label">Apellido</label>
                    <input type="text" name="surname" placeholder="apellido"
                        class ="form-control <%= locals.errors && errors.surname? 'is-invalid': null %>" value = "<%= locals.oldData? oldData.surname: null %>">
                    <% if(locals.errors && errors.surname){%>
                        <div class="text-danger">
                            <%=errors.surname.msg %>
                        </div>
                    <% }%>

                    <label for="" class="input__txt__places section__login--label">Fecha de
                        Nacimiento</label>
                    <input type="date" name="birthdate" placeholder="fecha nacimiento" 
                    class ="form-control <%= locals.errors && errors.birthdate? 'is-invalid': null %>" value = "<%= locals.oldData? oldData.birthdate: null %>">
                    <% if(locals.errors && errors.birthdate){%>
                        <div class="text-danger">
                            <%=errors.birthdate.msg %>
                        </div>
                    <% }%>

                    <label for="" class="input__txt__places section__login--label">DNI</label>
                    <input type="text" name="dni" placeholder="dni" 
                    class ="form-control <%= locals.errors && errors.dni? 'is-invalid': null %>"
                    value = "<%= locals.oldData? oldData.dni: null %>">
                    <% if(locals.errors && errors.dni){%>
                        <div class="text-danger">
                            <%=errors.dni.msg %>
                        </div>
                    <% }%>

                    <label for="" class="input__txt__places section__login--label">Teléfono</label>
                    <input type="text" name="telephone" placeholder="telefono"
                        class ="form-control <%= locals.errors && errors.telephone? 'is-invalid': null %>"
                        value = "<%= locals.oldData? oldData.telephone :null %>">
                    <% if(locals.errors && errors.telephone){%>
                        <div class="text-danger">
                            <%=errors.telephone.msg %>
                        </div>
                    <% }%>

                    <label for="" class="input__txt__places section__login--label">Email</label>
                    <input type="email" name="email" placeholder="email"
                        class ="form-control <%= locals.errors && errors.email? 'is-invalid': null %>"
                        value = "<%= locals.oldData? oldData.email: null %>">
                    <% if(locals.errors && errors.email){%>
                        <div class="text-danger">
                            <%=errors.email.msg %>
                        </div>
                    <% }%>

                    <label for="" class="input__txt__places section__login--label">Nombre de usuario</label>
                    <input type="text" name="username" placeholder="usuario" 
                    class ="form-control <%= locals.errors && errors.username? 'is-invalid': null %>" value = "<%= locals.oldData? oldData.username: null %>" >
                    <% if(locals.errors && errors.username){%>
                        <div class="text-danger">
                            <%=errors.username.msg %>
                        </div>
                    <% }%>

                    <label for="" class="input__txt__places section__login--label"> Clave </label>
                    <input type="password" name="password" placeholder="contraseña" 
                    class ="form-control <%= locals.errors && errors.password? 'is-invalid': null %>">
                    <% if(locals.errors && errors.password){%>
                        <div class="text-danger">
                            <%=errors.password.ms %>
                        </div>
                    <% }%>

                    
                    <label for="" class="input__txt__places section__login--label"> Confirmar Clave</label>
                    <input type="password" name="confirmarPassword" placeholder="confirmar contraseña"
                        class ="form-control <%= locals.errors && errors.confirmarPassword? 'is-invalid': null %>">
                    <% if(locals.errors && errors.confirmarPassword){%>
                        <div class="text-danger">
                            <%=errors.confirmarPassword.msg %>
                        </div>
                    <% }%>

                    <label for=""class="input__txt__places section__login--label">imagen</label>

                    <input type="file" name="imagenUsuario" placeholder="img">
                    <% if(locals.errors && errors.imagenUsuario){%>
                        <div class="text-danger">
                            <%=errors.imagenUsuario.msg %>
                        </div>
                    <% }%>
                    <button type="submit">Registrarse</button>
                </form>
            </section>
        </main>
        <!-- FOOTER -->
        <%- include("../partials/footer.ejs") %>
    </body>
    <script src="js/general.js"></script> 
</html>
    
    








                                               