<!DOCTYPE html>
<html lang="es">
  <!-- HEAD -->
  <%- include("../partials/head") %>
<body>
  <!-- HEADER -->
  <%- include("../partials/header.ejs") %>
  <!-- MAIN -->
  <main>
    <h1 class="titulo-h1"><%= product.destination %> <br> <span>TU MEJOR EXPERIENCIA</span></h1>

    <section class="contenedor-galeria">
      <div class="imagen-carrusel">
        <% product.images.forEach(function(image) { %>
          <div>
            <img src="<%= image.route %>" alt="imagen de <%= product.destination %>">
          </div>
        <% }); %>
      </div>
    </section>

    <!-- ------------------------ -->
    <!-- cAJAS CUADRADAS DETALLES -->
    <!-- ------------------------ -->

    <section class="contenedor-detalles">
      <article class="detalle">
        <i class="fa-solid fa-clock"></i>
        <h5> Duración: 10 dias <br> 7 noches</h5>
      </article>

      <article class="detalle">
        <i class="fa-solid fa-tags"></i>
        <h5> Desde: $<%= product.price %> </h5>
      </article>

      <article class="detalle">
        <i class="fa-solid fa-location-dot"></i>
        <h5> Salidas desde <%= product.city_depart %></h5>
      </article>
    </section>

    <!-- -------------------- -->
    <!-- INCLUYE - NO INCLUYE -->
    <!-- -------------------- -->

    <section class="pack-incluye">

      <article class="si-incluye">
        <h2>Incluye</h2>
        <hr>
        <ul>
          <% incluyeConIconos.forEach(function(item) { %>
            <li><i class="fa-solid <%= item.icono %>"></i><%= item.opcion %></li>
          <% }); %>
        </ul>
      </article>
      <button class="boton-confirmacion" type="submit">Solicitar</button>
    </section>
   
    <!-- Buscar Destino -->
    <section class="buscarDestino">
      <form action="" class="form__search">
        <label for="input__places" class="input__txt__places">A donde viajas?</label>
        <input type="text" id="input__places">
        <label for="ida" class="label__txt__date label__txt__date--go">Ida</label>
        <label for="vuelta" class="label__txt__date label__txt__date-back">Vuelta</label>
        <input type="date" name="ida" placeholder="Ida" class="input__date input__date--go">
        <input type="date" name="vuelta" placeholder="Vuelta" class="input__date input__date--back">
        <button type="submit">Buscar</button>
      </form>
    </section>

    <!-- Tarjetas de paquetes -->

    <section class="main__packages">
      <h3>PAQUETES</h3>
      <div class="main__all__cards__container">
        <% products.forEach(products => { %>
          <div class="main__card__container">
              <div class="main__card__img__container">
                  <img src="<%= products.images.length > 0 ? products.images[0].route : 'https://imagenes.heraldo.es/files/article_default_content/uploads/imagenes/2020/01/01/new-years-eve-celebr-33431190.jpeg' %>" alt="">
              </div>
              <div class="main__card__txt__container">
                  <p class="p__txt__places"><i class="fa-solid fa-location-dot fa-bounce"></i><%= products.destination %></p>
                  <p class="p__txt__togheter--label">Ida</p>
                  <p class="p__txt__togheter"><i class="fa-regular fa-calendar"></i><%= products.start_date %></p>
                  <p class="p__txt__togheter--label">Vuelta</p>
                  <p class="p__txt__togheter"><i class="fa-regular fa-calendar"></i><%= products.finish_date %></p>
                  <p class="p__txt__togheter--label">Personas</p>
                  <p class="p__txt__togheter"><i class="fa-regular fa-user"></i><%= products.group_size %></p>
                  <p class="p__txt__togheter--label">Precio</p>
                  <p class="p__txt__togheter p__txt__togheter--price">$<%= products.price%></p>
                  <a href="/productDetail/<%= products.id %>"><button type="submit">Ver mas</button></a>
              </div>
          </div>
      <% }) %>
      </div>
    </section>

  </main>
  <!-- FOOTER -->
  <%- include("../partials/footer.ejs") %>
  <script src="https://kit.fontawesome.com/c2d7c9299d.js" crossorigin="anonymous"></script>
  <script src="/js/general.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $(document).ready(function(){
    $('.imagen-carrusel').slick({
      autoplay: true,
      autoplaySpeed: 3000,
    });
  });
</script>


</body>